<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
<link href="https://fonts.googleapis.com/css?family=Bubbler+One" rel="stylesheet">
<body>
  <!-- Static navbar -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "YourDailyMatch", root_path, class: "navbar-brand" %>

    </div>
    <div class="nav navbar-nav logged">
      <% if student_signed_in? %>
          <li><h4> You are logged as a<strong> Student</strong></h4></li>
          <% elsif admin_signed_in? %>
          <li><h4> You are logged as an<strong> Admin</strong></h4></li>
          <% else %>
        
          <% end %>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <%= render 'shared/navbar' %>   
    </ul>
  </div>
</nav>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <div class="container">
    <%= yield %>
  </div>
</body>

